.label {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #4444;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.span {
  display: block;
  font-size: 35px;
  margin-left: 110px;
  padding-bottom: 20px;
  color: #00ba63;
}

.input {
  height: 60px;
  margin-left: 40px;
  border: 1px solid #00ba63;
  border-radius: 26px;
  padding-left: 25px;
  cursor: pointer;
  width: 300px;
  font-size: 20px;
}
.input:focus,
:hover {
  border-color: tomato;
}
.input:focus {
  outline: none;
}
